---
const {title, slug} = Astro.props
---

<a class="font-medium px-5 py-2 rounded-md hover:bg-blue-500 hover:bg-opacity-20 text-sky-400 text-opacity-60 hover:text-sky-400 hover:border-slate-200 transition" href={slug}>{title}</a>
